<div class="d-flex container">
    <div class="col-sm-12 d-flex justify-content-start">
        <app-alert  *ngIf="alert"  [class]="class" [alertMessage]="alertMessage" > </app-alert>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-sm-12">
        <div class="row justify-content-end" >
            <div class="col-sm-3" >
                <input class="mt-5 mb-5 w-100 p-2"  type="text"  placeholder="Search For Fullname" [(ngModel)]="data">
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table border shadow">
                        <thead>
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">fullname</th>
                            <th scope="col">lname</th>
                            <th scope="col">Age</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let element of Data  | search : data">
                            <td>{{element.id}}</td>
                            <td>{{element.fullname}}</td>
                            <td>{{element.lname}}</td>
                            <td>{{element.Age}}</td>
                            <td><div class="btn btn-primary me-2" (click)="savedata(element)">Update</div>
                                <div class="btn btn-danger" (click)="deleteData(element.id)">Delete</div>
                            </td>
                          </tr> 
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>